/* Local Fonts */
@import './partials/_fonts.css';

/* Minor resets */
@import './partials/_base.css';

/* Tailwind Base + Components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Partials */
@import './partials/_container.css';
@import './partials/_typography.css';
@import './partials/_navigation.css';

/* Tailwind Utils */
@import 'tailwindcss/utilities';

.triangle-topleft {
  @apply fixed top-0 left-0 z-30;
    width: 0;
    height: 0;
    border-top: 120px solid #1792BE;
    border-right: 120px solid transparent;
  }